body{
    
}
.tab-panel{
    background-color: bisque;
}
/* .box {
    height: 300px;
    width: 100%;
    background-color: red;
} */




html,body{
    height: 100%;
}
.main{
    height:100%;
    /* background-color: #2f2f2f; */
 background-color: #ececec;
}
#mypanel{
    background-color: crimson;
}
#add{
    padding: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: 15px;
    background: white;
    background-image: url(../img/plus_icon.png);
    background-size: cover;
    box-shadow: 0px 0px 3px 1px;
}
#add:focus{
    box-shadow: 0 0 0 0.25rem rgb(167 167 167 / 44%);
}
.add_btn{
    /* position: absolute; */
    
    
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: #f1f1f1;
}
.tabs{
    border-top: 2px solid #c7c7c73b;
    border-bottom: 2px solid #bbbbbb4a;
    background-color: #dcdcdc;
    height: 82px;
    width: 100%;
    position: fixed;
    
    padding: 5px;
}
.tabs_close{
    bottom: 0px;
}
.tabs_open{
    bottom: 90px;
}
.tab{
    margin: 5px;
    height: 60px;
    width: 60px;
    border-radius: 4px;
    background-color: #15191900;
    min-width: 60px;
}
.menu_pan{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: #ececec;
}
.pan_play{
    border: 2px solid #d8d8d8;
    border-left: 0;
    margin-top: 5px;
    border-radius: 0px 40px 40px 0;
    background-color: #0d0f1054;
    height: 80px;
    padding: 3px;
    position: relative;
    left:-100%;
    width:calc(100% - 90px);
}
.pan_play_open{
    left:0%;
}
.pan_play button:focus{
    box-shadow:  0 0 0 0.25rem rgb(187 187 187);
}
.play_btn {
    margin: 5px;
    margin-left: 8px;
    box-shadow: 0 0 3px 1px;
}
.tabs img{
    width: 100%;
    height: 100%;
}
.tabs button{
    padding: 5px;
}
.plus_svg{
    width: 84px;
    height: 84px;
    position: relative;
    top: -13px;
    left: -13px;
}
.plus_svg path{
    width: 60px;
    height: 60px;
}
#play{
    background-image:  url("../img/circled-play_icon.png");
    background-size: cover;
}
#next{
     background-image:url(../img/next_icon.png);
    background-size: cover;
}
#back{
    background-image: url(../img/back_icon.png);
   background-size: cover;
}
#tab_youtube{
    background-image: url("../img/youtube_icon.png");
  background-size: cover;
}
#tab_tiktok{
     background-image: url("../img/tiktok_icon.png");
   background-size: cover;
}
#tab_insta{
    background-image: url("../img/insta_icon.png");
  background-size: cover;
}
.tabs button:focus{
    box-shadow: 0 0 0 2px rgb(255 255 255 / 21%);
}
.welc{
    margin-top: 150px;
}
.pan_play_move{
    
    webkit-animation: 0.5s  ease-in-out slidein;
     -moz-animation: 0.5s  ease-in-out slidein;
       -o-animation: 0.5s  ease-in-out slidein;
          animation: 0.5s  ease-in-out slidein;
}
@keyframes slidein {
    from {left: -100%;}
    to {left: 0%; }
  }
.tabs_move{
    
    /* position: relative; */
    webkit-animation: 0.5s  ease-in-out slideup;
     -moz-animation: 0.5s  ease-in-out slideup;
       -o-animation: 0.5s  ease-in-out slideup;
          animation: 0.5s  ease-in-out slideup;
}
@keyframes slideup {
    from {bottom: 0%;}
    to {bottom: 90px; }
  }
.normal{
    animation-direction: normal;
}

.reverse{
    animation-direction: reverse;
}
.close{
    background-image: url("../img/close_icon.png")!important;
}
#links{
    position: absolute;
    top: 0px;
    background-color: #f3f3f3;

}
